{# Formulaire relatif au service informatique #}

<fieldset>
	<h3> Service Informatique </h3>
	</br><div class="separator"></div></br>

		<p>Êtes-vous satisfait de la réactivité de l'équipe d'assistance du service informatique ?</p>
		{% set answerName = 'it-responsiveness' %}
		{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

		<p>Êtes-vous satisfait de la courtoisie et de l'attitude des membres du service informatique ?</p>
		{% set answerName = 'it-courtesy' %}
		{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

		<p>Êtes-vous satisfait des premières solutions apportées à vos problèmes par le service informatique ?</p>
		{% set answerName = 'it-solutions' %}
		{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

		<p>Êtes-vous généralement satisfait du fonctionnement de la gestion des problèmes que vous avez fait remonter au service informatique ?</p>
		{% set answerName = 'it-issuesHandeling' %}
		{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

		<p>Êtes-vous globalement satisfait de l'aide apportée par le service informatique ?</p>
		{% set answerName = 'it-global' %}
		{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

		<p>De quelle manière, selon vous, le service informatique pourrais améliorer sa manière de vous porter assistance ?</p>
		<textarea name='it-improve' placeholder="Améliorations" rows="4" cols="60"></textarea>
		</br></br></br><div class="separator"></div></br>

		<p>Quelle est l'efficacité de la communication du service informatique. Tant au sujet des extinctions systèmes que des développements stratégiques ?</p>
		{% set answerName = 'it-comm' %}
		{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

		<p>Pensez-vous que le système de gestion d'affaire actuel vous permette de travailler efficacement ?</p>
		{% set answerName = 'it-system' %}
		{{ include("SurveysSSC2016Bundle:Survey:admittanceLevelsAnswers-fr.html.twig") }}

		<p>Comprenez-vous les raisons pour lesquelles des contraintes de sécurité doivent être implémentées au sein du groupe Tecumseh ?</p>
		{% set answerName = 'it-secu' %}
		{{ include("SurveysSSC2016Bundle:Survey:admittanceLevelsAnswers-fr.html.twig") }}


		<input type="button" name="next" class="next action-button" value="Suivant" />

</fieldset>