{# Formulaire relatif au sercice d'achat #}

<fieldset>
	<h3> Service des Achats </h3>
	</br><div class="separator"></div></br>

	<p>Êtes-vous satisfait de l'implication du service achat dans le processus d'appel d'offre sur CER, Consommable, Prestation?</p>
	{% set answerName = 'ha-appelOffre' %}
	{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

	<p>Êtes-vous satisfait des résultats de négociation obtenus lors des appels d'offre, achat de consommable et de prestation?</p>
	{% set answerName = 'ha-nego' %}
	{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

	<p>Êtes-vous satisfait de l'accompagnement par le service achat dans le suivi des contrats?</p>
	{% set answerName = 'ha-suiviContrat' %}
	{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

	<p>Êtes-vous complètement et clairement informé sur le processus "achat" Consommable et prestation?</p>
	{% set answerName = 'ha-infoAchat' %}
	{{ include("SurveysSSC2016Bundle:Survey:admittanceLevelsAnswers-fr.html.twig") }}

	<p>Êtes-vous complètement et clairement informé sur le processus "création et suivi des fournisseurs"?</p>
	{% set answerName = 'ha-infoFournisseur' %}
	{{ include("SurveysSSC2016Bundle:Survey:admittanceLevelsAnswers-fr.html.twig") }}

		<input type="button" name="previous" class="previous action-button" value="Précédent" />
		<input type="button" name="next" class="next action-button" value="Suivant" />
</fieldset>