{# Formulaire relatif au service comptable #}

<fieldset>
	<h3> Service Comptable </h3>
	</br><div class="separator"></div></br>

	<p>Êtes-vous satisfait des réponses apportées à vos questions sur les CER d'un point de vue comptable ?</p>
	{% set answerName = 'compta_cerAnswer' %}
	{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

	<p>Êtes-vous satisfait des délais de réponse ?</p>
	{% set answerName = 'compta_timeAnswer' %}
	{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

	<p>Êtes-vous suffisamment informé du processus de gestion des immobilisations (sorties, notamment) ?</p>
	{% set answerName = 'compta_immo' %}
	{{ include("SurveysSSC2016Bundle:Survey:admittanceLevelsAnswers-fr.html.twig") }}

	<p>Êtes-vous suffisamment informé des règles liées aux réceptions ?</p>
	{% set answerName = 'compta_rules' %}
	{{ include("SurveysSSC2016Bundle:Survey:admittanceLevelsAnswers-fr.html.twig") }}

	<p>Êtes-vous satisfait du délai de traitement des factures ?</p>
	{% set answerName = 'compta_timeBill' %}
	{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

	<p>Êtes-vous satisfait du délai de saisie des encaissements clients ?</p>
	{% set answerName = 'compta_receivables' %}
	{{ include("SurveysSSC2016Bundle:Survey:satisfactionAnswers-fr.html.twig") }}

	<p>Savez-vous à qui vous adresser en cas de problème comptable ?</p>
	{% set answerName = 'compta_who' %}
	{{ include("SurveysSSC2016Bundle:Survey:admittanceLevelsAnswers-fr.html.twig") }}


	<input type="button" name="previous" class="previous action-button" value="Précédent" />
	<input type="button" name="next" class="next action-button" value="Suivant" />

</fieldset>